* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  background-color: rgb(14, 13, 13);
}
body {
  text-align: center;
  font-size: 25px;
  background-color:white ;
}

img {
  background-size: cover ! important;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-top: 250px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease
}

h1 {
  padding-top: 50px;
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 60px;
  color: white;
}

a {
  padding: 12px 32px;
  font-size: 20px;
  line-height: 24px;
  color: rgb(250, 249, 249);
  opacity: 0.7;
}

h2 {
  color: rgb(157, 158, 158);
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}


h3 {color: rgb(157, 158, 158);
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 90px;
}

h4 {
  color: rgb(10, 10, 10);
  font-size: 20px;
  padding-top: 40px;
}

h4 span {
  color:rgb(109, 107, 107);
}

h5{
  color: black;
  font-size: 40px;
}

h6{
  font-size: 40px;
color: black;
padding-top: 100px;
}
 p{
  color: black;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h7{
  color: black;
  font-size: 30px;
  
}

main{
  text-align:center;
  margin-top: -180px;
  margin-left: 350px;
}
aside{
  text-align: left;
}
i {
  font-size: 50px;
}
.init-hidden{
  opacity: 1;
  transition: opacity 1s linear;
}
.init-hidden-off{
  opacity: 1;
}